.left-container{
    float: left;
    width: 50%;
}

.left-container image{
    justify-self: center;
}

.right-container{
    float: right;
    width: 50%;
}

button{
    float: right;
    margin: 2px;
}

input {
    width: 60%;
    font-size: 12px;
}

.select {
    width: 70%;
    font-size: 12px;
}
.genderBlock {
    width: 50%;
}

/* .genderBlock {
    display: inline;
}

.genderBlock label {
    display: inline-block;
} */